[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
ipython = "*"
luigi = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2020sp-csci-utils-itsjohnward"}

[requires]
python_version = "3.8"
